10_n8njson/GoogleMeet議事録生成ワークフロー.json
{
  "name": "GoogleMeet議事録生成ワークフロー",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ngs_3UYz1KaXMn6HcnJgMLZYY4WE01_l",
          "mode": "list",
          "cachedResultName": "Meet Recordings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ngs_3UYz1KaXMn6HcnJgMLZYY4WE01_l"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2d08507a-3fe5-4afb-9f28-5247aa712485",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fHRUXjsmsN0WsQMR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d2a9c603-254a-4642-a519-620d316aaeca",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fHRUXjsmsN0WsQMR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "e9912889-1d01-47bb-ab08-2a52baed927a",
      "name": "Upload a file",
      "credentials": {
        "googlePalmApi": {
          "id": "6PIwoeeLdra9Gfc7",
          "name": "Google Gemini(PaLM) Api account aiyorozuya"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "この会議の議事録を下記手順と注意事項にそって作成してください。\n\n## 手順\nまずは内容を理解してください。\nこの会議の内容を要約してください。\nそのうえで、Todoを出してください。\n議事録とTodoをそれぞれ出力してください。\n\n## 注意事項\n嘘は出力しないでください。\nあいまいな情報を出力する場合はそれを明記してください。",
        "videoUrls": "={{ $json.fileUri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "3a95dc78-ba72-467d-8bdd-a9137e5235b9",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "6PIwoeeLdra9Gfc7",
          "name": "Google Gemini(PaLM) Api account aiyorozuya"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=",
        "title": "={{ $('Google Drive Trigger').item.json.name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "81c128b5-2f07-46fa-bd00-97c4b4beb8cd",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Brk3JuKHgJVrdc3j",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Analyze video').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "e4ad3955-cf57-4936-a692-434de1c3a6ed",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Brk3JuKHgJVrdc3j",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1376e84f-6929-4cd9-bff4-d453a88d3a22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a646cec8ae4c0737bb8bfb799733077ead78f660c49d8e539490d251a994fb77"
  },
  "id": "hx1uFGcghgHUPDO4",
  "tags": []
}