10_n8njson/Youtube競合調査ワークフロー.json
{
  "name": "Youtube競合調査ワークフロー",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f648bfc6-0d23-4612-8e91-5b793e67d3f2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {
          "publishedAfter": "={{ $now.minus({ months: 1 }).toFormat('yyyy-MM-dd') }}",
          "q": "=AI"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "b106dfda-df8f-4c86-a6da-edc32be8b3ec",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "tq0cnKHOrNmeC3dA",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.id.videoId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "2297dc44-dfca-4b64-95ac-786fa5161fc6",
      "name": "Get a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "tq0cnKHOrNmeC3dA",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "882624bf-7fb1-4de8-ab77-580cc223ce31",
              "leftValue": "={{ $json.statistics.viewCount.toNumber() }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "a1c6b126-fefe-4d03-95a1-cf882df11209",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E",
          "mode": "list",
          "cachedResultName": "Youtube競合調査シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E/edit?usp=drivesdk"
        },
        "title": "={{ $('Get a video').item.json.snippet.title }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        208
      ],
      "id": "08863157-9c9f-4c2a-bcf3-89e97f2a8af7",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cKlLHOrX3l0sBS4G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E",
          "mode": "list",
          "cachedResultName": "Youtube競合調査シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "動画一覧",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "データ取得日": "={{ $now.format(\"yyyy/MM/dd\") }}",
            "動画タイトル": "={{ $('Get a video').item.json.snippet.title }}",
            "URL": "=https://www.youtube.com/watch?v={{ $('Get a video').item.json.id }}",
            "再生数": "={{ $('Get a video').item.json.statistics.viewCount }}",
            "いいね数": "={{ $('Get a video').item.json.statistics.likeCount }}",
            "コメント数": "={{ $('Get a video').item.json.statistics.commentCount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "データ取得日",
              "displayName": "データ取得日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "動画タイトル",
              "displayName": "動画タイトル",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "再生数",
              "displayName": "再生数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "いいね数",
              "displayName": "いいね数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "コメント数",
              "displayName": "コメント数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        208
      ],
      "id": "0b4a6360-4f88-4864-b5d3-903e7209f8b2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cKlLHOrX3l0sBS4G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E",
          "mode": "list",
          "cachedResultName": "Youtube競合調査シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        208
      ],
      "id": "571b64b4-de89-41cc-a455-9f4aa2443f97",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cKlLHOrX3l0sBS4G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "videoId",
              "value": "={{ $('Filter').item.json.id }}"
            },
            {
              "name": "maxResults",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        208
      ],
      "id": "a0e97856-4635-4eb6-b12c-22c29ee423e3",
      "name": "HTTP Request",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "tq0cnKHOrNmeC3dA",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4c458c4-8395-419f-9a66-e2a6a7c3c16a",
              "name": "comment",
              "value": "={{ $json.items.map((x) => { return x.snippet.topLevelComment.snippet.textOriginal }) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        208
      ],
      "id": "aba40cd0-4141-443a-85de-f631f7684b34",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=# 命令\nあなたはYouTubeマーケティングのプロフェッショナルであり、データアナリストです。\n以下に貼り付ける「競合チャンネルの動画データ（タイトル、再生数、いいね数、コメント数）」を分析し、私のチャンネルで投稿すべき「バズる可能性が高い動画企画」を提案してください。\n\n# 目的\n競合の成功事例から「視聴者が求めているニーズ」と「伸びる型」を特定し、それを踏まえた上で、より魅力的でクリックしたくなる動画企画を立案すること。\n\n# 分析手順\n1. データの正規化と計算\n提供されたデータから、以下の数値を評価してください。\n- エンゲージメント率（(いいね数 + コメント数) ÷ 再生数）：視聴者の熱量が高いテーマを見つけるため。\n- ヒット指標：再生数が平均よりも突出して高い動画を特定する。\n\n2. トレンドとパターンの抽出\n伸びている動画に共通する要素を分析してください。\n- タイトルに含まれる共通のキーワード（パワーワード）\n- サムネイルが想像できるような訴求の切り口（恐怖、好奇心、損得勘定など）\n- どのような「悩み」や「欲望」を解決しているか\n\n3. 企画の提案\n分析結果に基づき、私のチャンネルで実施すべき企画を5つ提案してください。\n単なるコピーではなく、競合の要素を取り入れつつ「差別化」または「上位互換」となる企画にしてください。\n\n# 入力データ\nタイトル：{{ $('Get a video').item.json.snippet.title }}\n再生数：{{ $('Get a video').item.json.statistics.viewCount }}\nいいね数：{{ $('Get a video').item.json.statistics.likeCount }}\nコメント：{{ $('Edit Fields').item.json.comment }}\n\n# 出力フォーマット\n以下の形式で出力してください。\n\n## 1. 競合データの傾向分析\n- 特に反応が良かったテーマ（上位3つ）\n- 頻出するパワーワード（3つ〜5つ）\n- 視聴者のインサイト（視聴者が本当に知りたいこと・求めている感情）\n\n## 2. 提案する動画企画（5案）\n\n### 企画案1：[キャッチーな仮タイトル]\n- ターゲット層：\n- 参考にした競合要素：\n- なぜバズるのか（論理的根拠）：\n- サムネイルの構成案：\n\n（...企画案2〜5も同様に記述）"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        416
      ],
      "id": "747ebea4-0c4d-459f-bf0a-0e00fce180e0",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "wt52g7f3iiKdOPpP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E",
          "mode": "list",
          "cachedResultName": "Youtube競合調査シート",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "動画一覧",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qxJAvOHq_BpECGoiL4DNefSKNouthKD8cmAGHbGhw8E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "動画タイトル": "={{ $('Get a video').item.json.snippet.title }}",
            "分析結果": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [
            "動画タイトル"
          ],
          "schema": [
            {
              "id": "データ取得日",
              "displayName": "データ取得日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "動画タイトル",
              "displayName": "動画タイトル",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "再生数",
              "displayName": "再生数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "いいね数",
              "displayName": "いいね数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "コメント数",
              "displayName": "コメント数",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "分析結果",
              "displayName": "分析結果",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        416
      ],
      "id": "3f717f02-08a0-436a-a253-5d60ff5c02eb",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cKlLHOrX3l0sBS4G",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a video": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "672ce265-e1b8-4633-8dac-a3a357e7fe5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c222c60ed55f26de127f72b6f901dd7755e87d55c9bfa1d37eab15c97c6302bf"
  },
  "id": "1QFqFE1pZ2xdE8Ac",
  "tags": []
}