10_n8njson/クラウドワークス新着お知らせ.json
{
  "name": "クラウドワークス新着お知らせ",
  "nodes": [
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbxK2iXzunZkuTk6VXFXI10q5nr8YPVfI-W6PHjS3W8WqlUob1D2zt4l0Ap0mn-ZnJIY/exec",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://crowdworks.jp/public/jobs/search?hide_expired=true&order=new&search%5Bkeywords%5D={{ $json.keywords }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        16
      ],
      "id": "521e0b60-24dc-4614-8f8b-b47bd2c8e05b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b481091-58ce-46ec-8a82-cb6b35bbeb38",
              "name": "keywords",
              "value": "[\"n8n\", \"ロゴデザイン\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "2843be42-6143-43cf-bd66-e54982647cfc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "b00982a5-b454-430a-aab7-62f6faea13a5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "6b85ba27-b407-44d5-ad73-dc01e9cdd3c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        944,
        16
      ],
      "id": "3b8590a2-899c-4ba7-afd3-ec1ec96ee1b3",
      "name": "Wait",
      "webhookId": "b6ddcb20-2229-48a3-9e13-c8c19ae8a67b"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "4a6c938d-c89d-43ca-bf49-a619478f7383",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=# 命令\nあなたはクラウドワークスで高評価を獲得しているトッププロワーカーです。\n以下の【入力情報】をもとに、クライアントが「この人に依頼したい」即決したくなるような、信頼感と熱意のある応募文を作成してください。\n\n# 制約条件\n- クライアントの要望を正しく理解していることを冒頭で示してください。\n- 丁寧かつビジネスライクな敬語を使用してください。\n- 読みやすいように適度な改行や箇条書きを入れてください。\n- 構成は「挨拶・自己紹介」→「案件への理解・提案」→「自分の強み・実績」→「条件面（納期・金額）」→「締めの挨拶」としてください。\n- 私の強みやスキルが、この案件にどう役立つかを具体的に結びつけてアピールしてください。\n\n# 入力情報\n## 案件タイトル\n{{ $json.title }}\n\n## 提示単価\n{{ $json.price }}\n## 案件詳細\n{{ $json.description }}\n\n## 自分のスキル・強み・実績\n[ここに自分ができること、過去の実績、ポートフォリオURLなどを貼り付け] "
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1456,
        0
      ],
      "id": "dd767b0f-75b5-4a17-8ddf-104d88f8ef2f",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "wt52g7f3iiKdOPpP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ai.volcite.yuki.takano@gmail.com",
        "subject": "=【新着お仕事情報】 {{ $('Split Out1').item.json.title }}",
        "emailType": "text",
        "message": "=新着の案件がありました。\n提案文とURLをお送りします。\n\n▼URL\n{{ $('Split Out1').item.json.url }}\n\n▼提案文\n{{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1744,
        0
      ],
      "id": "8a9796c4-8aa5-4148-8897-c6da37ce150d",
      "name": "Send a message",
      "webhookId": "cabf040b-463b-49b7-a2d8-a30b84a06792",
      "credentials": {
        "gmailOAuth2": {
          "id": "PcRdPLdfCC6o3PIj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75eb6eb2-f116-4508-83ea-0deebb4333f0",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        16
      ],
      "id": "daf2038d-3881-473e-8911-cee1785c7ef7",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        0
      ],
      "id": "e377293a-1164-4640-867c-debc7bae8959",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "28e16f8b-d34d-43e5-b668-5f0197647fed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c222c60ed55f26de127f72b6f901dd7755e87d55c9bfa1d37eab15c97c6302bf"
  },
  "id": "8FWDFTF2ui0FXHuq",
  "tags": []
}