10_n8njson/スピ向けリール動画.json
{
  "name": "スピ向けリール動画",
  "nodes": [
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "=17841478290614274",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('AI Agent').item.json.output.caption }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "video_url",
                "value": "={{ $json.mediaLink }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        816,
        1632
      ],
      "id": "cbc24d86-6e9d-4b3e-bbc0-2f8f851227b2",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "zxvPUSob1IagSVxt",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841478290614274",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('Facebook Graph API').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1136,
        1632
      ],
      "id": "d32e4398-e9fa-454e-a6b5-3b3897fd3e3b",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "zxvPUSob1IagSVxt",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "finsredbag",
        "objectName": "={{ $('AI Agent').item.json.output.title }}",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        656,
        1632
      ],
      "id": "fe9b9b4b-9c0a-469c-92e5-6b81af5f1a02",
      "name": "Create an object",
      "retryOnFail": true,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "WlP172F8vY1WwAS7",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        1632
      ],
      "id": "c360e0aa-a0ac-4437-be67-c4602f7a4437",
      "name": "Wait4",
      "webhookId": "4eb450ee-d2bb-48dc-b532-bf8815f67b78"
    },
    {
      "parameters": {
        "content": "## Facebookアップロード",
        "height": 240,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        1552
      ],
      "typeVersion": 1,
      "id": "859290bc-744c-4533-b7f8-048da3a7ca7e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "={{ $json.output[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        1360
      ],
      "id": "83a3723f-6466-4288-92f0-3feff3d5dc3f",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "finsredbag",
        "objectName": "={{ $('AI Agent').item.json.output.title }}",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        1216,
        1008
      ],
      "id": "2c43339d-b5c1-4269-99e1-181d60724e2c",
      "name": "Create an object2",
      "retryOnFail": true,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "WlP172F8vY1WwAS7",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "id"
        },
        "prompt": "=占いランキングの9:16の画像。|照明は幻想的で魔法のよう。上部にはランキングのタイトルその下にランキングを表示する。そして不思議で魔法のような雰囲気。\n\n## タイトル\n{{ $json.output.title }}\n\n## ランキング \n{{ $json.output.ranking }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        1008
      ],
      "id": "e5c023b7-3f0b-4dec-876a-ef0501baa708",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "6PIwoeeLdra9Gfc7",
          "name": "Google Gemini(PaLM) Api account aiyorozuya"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "あなたはSNSで100万回再生を連発するプロの占い系インフルエンサーです。\n以下の条件で、ショート動画用の「タイトル」と「TOP10ランキング」を作成してください。\n\n【条件】\n・2025年最新の情報を使うこと\n・ターゲット：現状に不満があり、人生を一発逆転させたい20代〜40代\n・タイトル：スクロールの手を止めさせる、強力で少し煽りのある言葉（例：「※ガチで閲覧注意」「この誕生日は人生変わります」など）\n・ランキング：1位〜10位の「日付」と、それぞれの順位に「短い一言（なぜ運が良いのか）」を添えること\n・締めの一言：コメント欄に「願い事」を書くと叶う、という行動を促す文章を入れること\n\n【出力】\n・タイトル\n・ランキング\n・インスタのキャプション",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        784,
        1008
      ],
      "id": "433dcc39-e7fa-4cd6-b6b1-548f2808e523",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"タイトルをここに入力する\",\n\t\"ranking\": \"ここにランキングを1位から10位を入力する\",\n    \"caption\": \"インスタグラムに投稿するキャプションを入力する\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        1152
      ],
      "id": "ae766b36-2915-453b-836c-d02f11a24474",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        1152
      ],
      "id": "e1cd4577-e072-4869-869f-55a5a89de1cb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6PIwoeeLdra9Gfc7",
          "name": "Google Gemini(PaLM) Api account aiyorozuya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"veo3.1\",\n  \"promptImage\": [\n    {\n      \"uri\": \"{{ $json.mediaLink }}\",\n      \"position\": \"first\"\n    }\n  ],\n  \"promptText\": \"is image, the text and ranking elements are a fixed, non-moving overlay. The title and all rankings from 1 to 10, including dates, descriptions, and their magical icons (scrolls, books, hourglass, lamp, chests), must remain perfectly static and sharp in their original positions. They are anchored to the screen and do not move, warp, or fade. Only the magical forest background behind them is animated. The blue magic circle, constellations, glowing plants, and ethereal mist pulse and drift slowly, creating a living magical atmosphere without affecting the foreground text layer. Static camera.\",\n  \"duration\": 8,\n  \"ratio\": \"720:1280\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        1360
      ],
      "id": "a53f8b62-1f91-4ae6-8a4a-edcb4c839446",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "HIBaPZ50CJ1nw2tE",
          "name": "runway"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        1360
      ],
      "id": "e08575b8-4de4-4009-938e-ab30de8385b0",
      "name": "HTTP Request6",
      "credentials": {
        "httpBearerAuth": {
          "id": "HIBaPZ50CJ1nw2tE",
          "name": "runway"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        1360
      ],
      "id": "ba7cc14f-fd37-4c23-9cff-64296fd07ada",
      "name": "Wait2",
      "webhookId": "15f620b3-63d3-4dca-bfbe-71852c7f916c"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        1008
      ],
      "id": "578679c9-4772-4116-884c-e747edd929a7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 動画生成",
        "height": 240,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        1280
      ],
      "typeVersion": 1,
      "id": "85c34ec5-8501-4758-9ad8-baab70c09556",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 投稿ネタ作成",
        "height": 320,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        944
      ],
      "typeVersion": 1,
      "id": "3f320d3c-12d8-4696-b5af-be865f4c7234",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an object": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Create an object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an object2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Create an object2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36e39413-2cb9-4d3a-a66e-c034fc37be73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a646cec8ae4c0737bb8bfb799733077ead78f660c49d8e539490d251a994fb77"
  },
  "id": "lqPcWyMQ5mMtF6bR",
  "tags": []
}